<div class="container">


<form ng-submit="createProduct()">
    <h1>New Recycling Idea</h1>

    <div class="form-group">
    <label for="product">Product</label>
    <input type="text" class="form-control" id="title" placeholder="Enter end product" ng-model="product.product">
  </div>
<br>
  <div class="form-group">
    <label for="item">Items</label> <br>
    <textarea class="from-control" id="item" placeholder="Enter product to be recycled" ng-model="product.items"></textarea>
<br>
<br>
  <div class="form-group">
    <label for="description">Description</label>
    <textarea class="form-control" id="description" placeholder="Description" ng-model="product.description"></textarea>
  </div>
<br>
  <div class="form-group">
    <label for="mediaType">Media Type</label>
    <input type="text" class="form-control" id="mediaType" placeholder="Add media type here" ng-model="product.media[0].mediaType">
  </div>
<br>
  <div class="form-group">
    <label for="url">Url</label>
    <input type="url" class="form-control" id="url" placeholder="Add url here" ng-model="product.media[0].url">
  </div>
  <br>
  <br>
  <a href="/" class="btn btn-danger">Cancel</a>
  <button type="submit" class="btn btn-success">Submit</button>
  </form>
</div>
